*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Reddit Mono", monospace;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(37, 145, 251, 0.98) 0.1%,
		rgba(0, 7, 128, 1) 99.8%
	);
}

/* LOGIN/REGISTER */
.login-icon {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em;
	margin: 1em;
	color: white;
	cursor: pointer;
	z-index: 100;
}
.login-icon .material-symbols-outlined {
	font-size: 3rem;
}
.log-reg-window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 350px;
	display: none;
	background-color: black;
	border: solid white;
	border-radius: 20px;
	z-index: 1;
}
.login-window,
.register-window {
	color: white;
	text-align: center;
}
.login-label,
.register-label {
	margin: 1em 0;
	color: white;
	text-align: center;
}
.input-container {
	margin: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-container input,
button {
	padding: 0.3em 0.5em;
	margin: 0.5em 0;
	background-color: white;
	border-radius: 8px;
}
.input-container button {
	padding: 0.3em 2em;
	margin: 1.5em;
	cursor: pointer;
}
.switch-reg,
.switch-log {
	position: absolute;
	bottom: 10px;
	left: 50%;
	padding: 0.3em 1.5em;
	transform: translateX(-50%);
	cursor: pointer;
}
.shadow-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
}
.display-block {
	display: block;
}
.display-none {
	display: none;
}

/* MAIN-CONTAINER */

.main {
	display: flex;

	justify-content: center;
	align-items: center;
}
.main-window {
	width: 900px;
	height: 600px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
}
.main-grid-container {
	padding: 0.6em;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, 1fr);
}
.main-grid-items {
	padding: 0.5em 0;
	margin: 0.3em;
	border-radius: 10px;
	text-align: center;
}
.item1 {
	grid-row: 1/7;
	grid-column: 1/5;
	background-color: #7cff5b;
}
.item1 input {
	padding: 0.25em;
	margin: 1em;
}
.item1 input,
button {
	background-color: white;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -1px -1px 3px -1px rgba(0, 0, 0, 0.7);
	border-radius: 6px;
}
.item1 button {
	padding: 0.25em 0.65em;
	font-weight: bold;
	cursor: pointer;
}
.food-container {
	margin: 0 1em;
	text-align-last: left;
}
.food-container li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.food-container li .remove-food-btn {
	padding: 0.1em 0.5em;
	font-weight: normal;
	background-color: rgb(146, 255, 222);
}
.item2 {
	grid-row: 1/4;
	grid-column: 5/8;
	background-color: #ff8b55;
}
.item2 div {
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}
.total-calories-per-day {
}
.item3 {
	display: block;
	grid-row: 1/7;
	grid-column: 8/13;
	background-color: rgb(192, 64, 192);
}
.label-and-date-container-item3 {
	display: flex;
	justify-content: space-evenly;
}
.container-of-third-place {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.progress-calories-container {
	display: flex;
	flex-direction: column;
}
.progress-container {
}
.outer {
	margin: 10px 0;
	width: 120px;
	height: 160px;
	display: flex;
	align-items: end;
	background-color: white;
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15), -1px -1px 10px -1px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	overflow: hidden;
}
.inner {
	width: 100%;
	background-color: rgb(154, 154, 255);
}
.macronutrients-container {
	margin: 0.5em 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.macronutrients-container div {
	margin: 0.75em 0;
}
.progress-macronutrients {
	margin: 5px 0;
	width: 130px;
	height: 20px;
	background-color: white;
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15), -1px -1px 10px -1px rgba(0, 0, 0, 0.7);
	border-radius: 6px;
}
.item4 {
	grid-row: 4/7;
	grid-column: 5/8;
	background-color: #ff4a4a;
}
.item5 {
	grid-row: 7/12;
	grid-column: 1/4;
	background-color: #f2ff7c;
}
.item6 {
	grid-row: 7/12;
	grid-column: 4/7;
	background-color: rgb(204, 173, 173);
}
.item7 {
	grid-row: 7/12;
	grid-column: 7/13;
	background-color: #42b3ff;
}
.days {
	height: 90%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
.day {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.progress-day-of-calories {
	margin: 0.5em 0;
	width: 25px;
	height: 150px;
	background-color: white;
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15), -1px -1px 10px -1px rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}
